body
 {
 	margin:0px;
 	margin-right: 0px;
 	margin-left: 0px;
 	padding-right: 0px; 
 	display: flex;
 	flex-direction: column;
 	font-size: 1em;
 	border:none;
 }
/*Mes titres*/
hgroup
	{
	margin-top: unset;
	margin-left:unset;
	align-items: center;
	}
h2
	{
	font-size: 1.5em;
	}
h4
	{
	font-weight: 600;
	}
.gauche article:first-child
	{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-grow: 0;
	}

.gauche article:first-child h3
	{
	margin-top:auto;
	}
/*balise standard*/
p
	{
	}
	.gauche article:nth-of-type(1) p
		{
		font-size: 1em;
		font-weight: 400;
		padding-left: 3%;
		letter-spacing: 2px;
		}
	section article:nth-of-type(1n) article p
		{
		margin-top: -15px;
		margin-left: 30px;
		}
i
	{
	}
	.gauche article:nth-of-type(1) p i
	{
	margin-right: 30px;
	font-size: 1.8em;
	}

/*Corp*/
header	
	{
	flex-direction: column;
	}
	
	picture
		{
		border:none;
		order:1;
		margin-bottom: 20px;
		width: 100%;
		}
main
	{
	flex-direction: column;
	}
	.gauche
		{
		justify-content: space-around;
		order:2;
		max-width: 900px;
		border:none;
		}
		/*contact*/
		.gauche article:nth-of-type(1)
			{
			justify-content: space-around;
			padding-bottom: 0px;
			}
		.gauche article:nth-of-type(1) p
			{
			padding-left: 30px;
			}
		
	.droite
		{
		padding: 0px 20px 0px 20px;
		}
		.droite header
			{
			justify-content: flex-start;
			}
		








