body
	{
	margin-left: 50px;
	margin-right:50px;
	}
		
	.mep-formation h4 
		{
		margin-top: 0px;
		}
h4
	{
	min-width: 0px;
	}
h5
	{
	margin-top: 15px;
	}
span
	{	
	}
	p span
		{
		margin-bottom: 10px;
		margin-top: 0px;
		}	
p
	{
	}
	.mep-formation article p:last-child
		{
		border-bottom: .09em solid rgba(240, 204, 0, 0.86);
		padding-bottom: 20px;
		}
	.mep-formation:last-child article p:last-child
		{
		border-bottom: unset;
		}
.mep-formation
	{
	flex-direction: column;
	margin-top: 10px;
	}		
	.mep-formation header
		{
		display: flex;
		flex-direction: row;
		}	