body
 	{
 	margin:0px;
 	padding-right: 0px; 
 	border:none;
 	}
/*Mes titres*/
h3
	{}
	.gauche section:first-child h3
		{
		margin-top:auto;
		}

/*balise standard*/
p
	{
	}
	.mep-contact p
		{
		font-weight: 400;
		padding-left: 3%;
		letter-spacing: 2px;
		}
i
	{
	}
	.gauche section:nth-of-type(1) p i
	{
	font-size: 1.8em;
	}

/*Corp*/
header	
	{
	flex-direction: column;
	}
	picture
		{
		border:none;
		order:1;
		width: 100%;
		}
	hgroup
		{
		margin-top: unset;
		margin-left:unset;
		align-items: center;
		}	
main
	{
	flex-direction: column;
	}
	.gauche
		{
		justify-content: space-around;
		order:2;
		border:none;
		max-width: 800px;
		}		
	.droite
		{
		padding: 0px 20px 30px 20px;
		}
		.droite header
			{
			justify-content: flex-start;
			}
	.mise_en_page_recommandation article
		{
		padding-right: 10px;
		}	
	.mise_en_page_recommandation
		{
		justify-content: space-around;
		flex-wrap: wrap;
		}







