@page
    {
    margin:1cm;   
    }
    p
        {
        break-inside: avoid;
        }
body
    {
    border:1pt solid grey;
    font-size: 9pt;
    }
a
    {
    text-decoration: none;
    color: black;
    font-weight: 500;
    }

header,main
    {
    flex-direction: row;
    }

/*Main*/
.gauche
    {
    background-color: rgba(255, 206, 0, .3);
    border:.1pt solid grey;
    min-width: 170pt;
    max-width: 170pt;
    order:1;
    }
    .mep-contact
        {
        height: 250pt;
        font-size: 9pt;
        }     
    
.droite
    {
    order:2;
    }

/*mes_titres*/ 
hgroup
    {
    margin-left: 20pt;
    margin-top: 30pt;
    align-items: flex-start;
    }
    picture
        {
        min-width: 170pt;
        width: 199.5pt;
        padding-bottom: 15pt;
        background-color: rgba(255, 206, 0, .3);
        border-right: 1pt solid grey;
        }
        picture img
            {
            margin:15pt 0pt 0pt 0pt;
            height: 120pt;
            width: 120pt;
            }
h1
    {
    font-size: 1cm;
    }
    .droite h3
        {
        margin-top: 0px;
        }   
.gauche h3
    {
    padding-top: 12pt;
    padding-bottom: 12pt;
    background-color: grey;
    } 