@page
{
    margin:1cm;   
}
article,p 
{
  break-inside: avoid;
}
body
    {
    border:1pt solid grey;
    margin: 0.3cm;
    font-size: 8pt;
    display: flex;
    }
a
    {
    text-decoration: none;
    color: black;
    font-weight: 500;
    }

header,main
    {
    flex-direction: row;
    }

/*header*/
header{
}
/*Main*/
.gauche
    {
    background-image: linear-gradient(95deg,rgba(255, 129, 61, 0.10),rgba(240, 204, 0, 0.10));
    border:.1pt solid grey;
    min-width: 170pt;
    max-width: 170pt;
    order:1;
    }
   
    .mep-contact
        {
        height: 250pt;
        font-size: 9pt;
        }     
    
.droite
{
    order:2;
}

/*mes_titres*/ 
hgroup
    {
    margin-left: 20pt;
    margin-top: 30pt;
    align-items: flex-start;

    }
        picture
        {
        min-width: 170pt;
        width: 199.5pt;
        margin-bottom: 0pt;
        border-right: 1pt solid grey;
        }
        picture img
            {
            margin:15pt 0pt 0pt 0pt;
            height: 120pt;
            width: 120pt;
            border-radius: 100%;
            border: .2em solid rgba(168, 121, 0, 0.87);
            }
h1
    {
    text-transform: uppercase;
    font-size: 1cm;
    }
h3
    {
    }
    .gauche h3
        {
        padding-top: 12pt;
        padding-bottom: 12pt;
        font-weight: 500;
        text-transform: uppercase;
        background-color: grey;
        } 
h4
    {
    font-size: 8pt;
    letter-spacing: 0pt;
    min-width: 80pt;
    font-weight: 400;
    }

 

