body
 {
 	margin:0px;
 	padding-right: 0px; 
 	display: flex;
 	flex-direction: column;
 	font-size: .8em;
 	border:none;
 }
/*Mes titres*/
hgroup
{
	order:2;
	margin-left:unset;
	margin-top: unset;
}
h1
{
	text-indent: 10%;
}
h2
{
	font-size: 2em;
}
picture
{
	margin-top: -20px;
	margin-bottom: px;
}

nav
{
	border:none;
	background-image: linear-gradient(55deg,rgba(255, 129, 61, 0.86),rgba(240, 204, 0, 0.86));
	order:1;
	margin-bottom: 20px;
	width: 100%;
}
header
{
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.gauche
{
	order:2;
	max-width: 800px;
	border:none;
}
section:nth-of-type(1) article:nth-of-type(1n) article
{
	order:1;
	flex-direction: column;
	flex-wrap: nowrap;
	font-size: 1.2em;
	margin-left: -40px;
	margin-right: 10px;
}
section:nth-of-type(1) article:nth-of-type(1n) article p

{
	margin-top: -15px;
	margin-left: 30px;
}

main
{
	flex-direction: column;

}
section:nth-of-type(1)
{
	margin-top: 0px;
}
h4
{
	font-weight: 600;
}
.gauche article:nth-of-type(1) p
		{
		font-size: 1.2em;
		font-weight: 500;
		padding-left: 20%;
		letter-spacing: 2px;
		}	
.gauche article:nth-of-type(1) p i
{
	margin-right: 30px;
	font-size: 1.8em;
}

