body
{
	margin: 50px;
	padding-right: 10px;
	font-family: 'avenir next';
	border:.1px solid black;
}

/*mes_titres*/ 
h1 {
	margin-bottom: 0%;
	text-align: left;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 2em;
}
    Color
    {
	    color: rgba(240, 204, 0, 0.86);
    }
    .souligne
    {
	    width: 57px;
	    height: 1.5px;
	    background-color: rgba(240, 204, 0, 0.86);
	    position: absolute;
	    top: 144px;
    }
h2 {
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 20px;
	font-size: 1.2em;
	font-weight: normal;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	color: rgba(240, 204, 0, 0.86);
	background-color: black;
}
h3 {
	font-weight: normal;
	margin-top: 0%;
	margin-bottom: 10%;
}
h4
{
	font-size: 1.2em;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: .12em solid rgba(240, 204, 0, 0.86);
}
    h4 i
    {
	    margin-right: 15px;
	    font-size: 1em;
    }

/*Balise principal*/
article
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
a
{
	cursor: pointer;
	text-decoration: none;
	color: #9C8300;
}
	a:hover
    {
		color: rgba(54, 255, 36, 1);
	}
p
{
	text-align: justify;
	font-size: 0.8em;
}
i
{
	color: rgba(240, 204, 0, 0.86);
	font-size: .1em;
}

/*ID*/
#portrait
{
	border: .2em solid rgba(168, 121, 0, 0.87);
}
#icone
{
	height: 32px;
	width: 32px;
	margin-right: 10px;
	float: left;
}
#indent1
{
	text-indent: 22px;
	margin-top: -13px;
}
#indent2
{
	text-indent: 22px;
	margin-top: -13px;
}

/*image et icone*/
.mep_ico
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 4%;
}
	.mep_ico a
    {
		margin-top: 10px;
		margin-left: 10px;
	}
.entete
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20%;
}
	.entete img
    {
		margin-top: 10%;
		height: 150px;
		width: 150px;
		border-radius: 100%;
	}
.mep_loisir i, .mep_contact i
{
	color: black;
	font-size: 1.8em;
	margin-right: 10px;
	float: left;
}
.mep_contact i
{
	width: 15%;
}
.fa-dot-circle
{
	font-size: 90%;
	margin-right: 10px;
}
.fa-circle
{
	font-size: 40%;
	margin-right: 10px;
}

/*Mise en page section*/
.mep_section
{
	display: flex;
	flex-direction: row;
}
.sec1
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: rgba(240, 204, 0, 0.86);
	width: 230px;
	border-right: .5px solid black;
	margin: auto;
	height: 100%;
}
.sec2 {
	margin: 2px;
	padding-left: 30px;
	margin: auto;
}

/*Mise en page section1*/
.mep_contact, .mep_pres
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
    .mep_pres p, .mep_contact p
    {
	    padding-left: 20px;
	    padding-right: 20px;
    }
.mep_loisir 
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
}

/*Mise en page Tableaux*/
table
{
	min-width: 250px;
}
td 
{
	min-width: 230px;
}
tr
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}


