body
	{
	margin:50px;
	margin-left: 100px;
	margin-right:100px;
	font-family: 'avenir next';
	border:1px solid black;
	display: flex;
	flex-direction: column;
	font-size: 1em;
	color:rgba(92, 66, 0, 1);
	}

/*mes_titres*/ 
h1 
	{
	margin-bottom: 0%;
	text-align: left;
	font-weight: normal;
	font-size: 2.4em;
	}
    h1 span
    	{
    	text-transform: uppercase;
	    color: rgba(240, 204, 0, 0.86);
    	}
h2 
	{
	font-weight: normal;
	margin-top: 0%;
	margin-bottom: 10%;
	}
	h2 span
		{
		padding-bottom: -9px;
		border-bottom: .08em solid rgba(240, 204, 0, 0.86);
		}	
h3 
	{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: -20px;
	margin-right: -20px;
	font-size: 1.5em;
	font-weight: 400;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	color: rgba(255, 206, 0, 1);
	background-color: black;
	}
	
	.droite h3
		{
		background-color:unset;
		display: flex;
		justify-content: flex-start;
		font-size: 1.5em;
		font-weight: 400;
		text-transform: uppercase;
		border-bottom: .12em solid rgba(240, 204, 0, 0.86);
		margin-right: 20px;
		color: rgba(92, 66, 0, 1);
		}   
h4
	{
	font-weight: 300;
	font-size: 1em;
	min-width: 250px;
	}
h5
{
	font-size: 1em;
	font-weight: 300;
	background-color: blue;
}
/*Balise principal*/
a
	{
	cursor: pointer;
	text-decoration: none;
	color: rgba(255, 99, 15, 1);
	font-weight: 500;
	}
	a:hover
    	{
		color: rgba(54, 255, 36, 1);
		font-weight: 600; 
		}
	.gauche a
	{
		color: white;
	}
	.gauche a:hover
    	{
		color: rgba(54, 255, 36, 1);
		font-weight: 600; 
		}
p
	{
	text-align: justify;
	font-size: 1em;
	}
	.formation article p
		{
		background-color: red;
		margin-top: -20px;
		}
span
	{

	}
	p span
		{
		margin-left: 15px;
		font-weight: 400;
		font-style: italic;
		}
	h4 span
		{
		margin-left: 35px;
		font-weight: 400;
		font-size: .8em;
		}
	h5 span
		{
		font-weight: 400;
		font-size: .8em;
		text-transform: capitalize;
		}
	
i
	{
	float: left;
	color: black;
	font-size: 1.5em;
	margin-right: 20px;
	vertical-align:text-top;
	}
	.formation h3 i
    	{
    	color:rgba(92, 66, 0, 1);
	    margin-right: 15px;
	    font-size: 1.5em;
    	}
    .gauche article:nth-of-type(3) i
		{
		padding:7px 5px 7px 5px;
		border-radius: 100%;
		border:.07em solid black;
		}
	h4 i
		{
		color:rgba(240, 204, 0, 0.86);
		}
	
	.fa-dot-circle
		{
		font-size: 90%;
		margin-top: 6px;
		}
	.fa-circle
		{
		font-size: 40%;
		margin-top: 6px;
		}
strong
	{
	font-weight: bold;
	letter-spacing: .2em;
	}

/*Mise En Page */
header
	{
	display: flex;
	}
	hgroup
		{
		margin-left: 60px;
		margin-top: 70px;
		display: flex;
		flex-direction: column;
		order:2;
		}
	picture
		{
		min-width: 310px;
		background-color: rgba(255, 206, 0, 1);
		display: flex;
		flex-direction: column;
		align-items: center;
		order:1;
		padding-bottom: 20px;
		}
		picture img
			{
			margin:30px 0px 20px 0px;
			height: 160px;
			width: 160px;
			border-radius: 100%;
			border: .2em solid rgba(168, 121, 0, 0.87);
			}
		/*.mise_en_page_ico_social
			{
			display: flex;
			flex-direction: row;
			}*/			
main
	{
	display:flex;
	flex-direction: row;
	padding-top: -20px;
	}
	.gauche
		{
		justify-content: space-between;
		display: flex;
		flex-direction: column;
		background-color:rgba(255, 206, 0, 1);
		min-width: 270px;
		max-width: 270px;
		padding: 0px 20px 10px 20px;
		}
		/*icone social
		header a img
			{
			height: 40px;
			width: 40px;
			margin-left: 20px;
			}*/

		/*Contact*/
		.gauche article:nth-of-type(1)
			{
			max-height: 600px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex-grow: 1;
			padding-bottom: 40px;
			}	
		/*Parcour*/
		.gauche article:nth-of-type(2)
			{
			flex-grow: 1;
			}
		/*Loisir*/	
		.mep-loisir
			{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			margin-top:40px;
			margin-bottom: 40px;
			}
	.droite
		{
		flex-grow: 1;
		padding: 0px 20px 0px 80px;
		}
		
		.formation section:nth-of-type(1n)
			{
			display: flex;
			flex-direction: row;
			}
		.formation section:nth-of-type(1n) article
			{
			background-color: green;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			}


		.droite article:nth-of-type(2) article, .droite article:nth-of-type(3) article
			{
			display: flex;
			flex-wrap: nowrap;
			margin-right: 20px;
			}	
	.mep_recommandation
		{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-left: -30px;
		margin-right: -50px;
		}
		.mep_recommandation p
		{
			margin-top: -25px;
		}
		.mep_recommandation a
		{
			font-size: .9em;
		}

@media (max-width:1000px)
	{
		section article:nth-of-type(2) article section article:nth-of-type(1) article
			{
			flex-wrap: wrap;
			}
		body
		{
			margin-left: 50px;
			margin-right:50px;
		}
	}

